Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-build, css-syntax-check, js-syntax-check

css-build:
  name: Build CSS
  entry: bash -c 'node build-css.mjs && git add production/style.css'
  language: system
  pass_filenames: false

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint production/style.css production/css/*.css
  language: system

js-syntax-check:
  name: JavaScript syntax check
  entry: bash -c 'for f in "$@"; do node --check "$f"; done' --
  language: system

Adding more variables
  production/css/404.css
  production/css/auth.css
  production/css/breadcrumbs.css
  production/css/catalog.css
  production/css/completion.css
  production/css/course-info.css
  production/css/courses-learning-paths.css
  production/css/defs/fonts.css
  production/css/defs/variables.css
  production/css/footer.css
  production/css/freezebox.css
  production/css/globals.css
  production/css/header.css
  production/css/lessons.css
  production/skilljar-theme-v3.0/logger.mjs
Due: css-build, css-syntax-check

Add linting
  .stylelintrc.json
  LINTING.md
  package-lock.json
  package.json
Due: none

Adding pre-commit
  .pre-commit-config.yaml
Due: none

Reset fonts, fix lint errors with CSS
  production/css/auth.css
  production/css/breadcrumbs.css
  production/css/catalog.css
  production/css/completion.css
  production/css/course-info.css
  production/css/courses-learning-paths.css
  production/css/defs/colors.css
  production/css/defs/fonts.css
  production/css/defs/variables.css
  production/css/footer.css
  production/css/freezebox.css
  production/css/globals.css
  production/css/header.css
  production/css/lessons.css
  production/skilljar-theme-v3.0/static.mjs
  production/style.css
Due: css-build, css-syntax-check

Added note about linting
  LINTING.md
Due: none

Fix font-size in lesson
  production/css/lessons.css
Due: css-build, css-syntax-check

Replacing colors with variables
  production/css/auth.css
  production/css/breadcrumbs.css
  production/css/catalog.css
  production/css/completion.css
  production/css/course-info.css
  production/css/courses-learning-paths.css
  production/css/defs/colors.css
  production/css/footer.css
  production/css/freezebox.css
  production/css/header.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Adding in more variables (colors, padding/margin)
  production/css/auth.css
  production/css/breadcrumbs.css
  production/css/catalog.css
  production/css/completion.css
  production/css/course-info.css
  production/css/courses-learning-paths.css
  production/css/defs/colors.css
  production/css/defs/variables.css
  production/css/footer.css
  production/css/freezebox.css
  production/css/globals.css
  production/css/header.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Remove overflow on nav in lessons
  production/css/lessons.css
Due: css-build, css-syntax-check

Set height for nav in lessons
  production/css/lessons.css
Due: css-build, css-syntax-check

Adding in a few more variables instead of hard-coded values
  production/css/course-info.css
  production/css/header.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Adding improvement plan for next steps
  CSS_IMPROVEMENT_PLAN.md
Due: none

Clarify !important
  SKILLJAR_OVERRIDES.md
  production/css/404.css
  production/css/auth.css
  production/css/breadcrumbs.css
  production/css/catalog.css
  production/css/course-info.css
  production/css/courses-learning-paths.css
  production/css/footer.css
  production/css/freezebox.css
  production/css/globals.css
  production/css/header.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Revising CSS plan
  APPROACH_NOTES.md
  CSS_IMPROVEMENT_PLAN.md
  REVISION_SUMMARY.md
Due: none

Auditing buttons
  BUTTON_AUDIT.md
Due: none

Priority 1: critical accessibility
  BUTTON_PRIORITY_1_COMPLETE.md
  production/css/catalog.css
  production/css/footer.css
  production/css/globals.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Priority 3: Button transitions
  BUTTON_PRIORITY_2_3_COMPLETE.md
  production/css/auth.css
  production/css/catalog.css
  production/css/globals.css
  production/css/lessons.css
Due: css-build, css-syntax-check

End of phase 1
  BUTTON_PRIORITY_6_7_COMPLETE.md
  CONSOLIDATION_COMPLETE.md
  CONSOLIDATION_PHASE_1_COMPLETE.md
  CSS_VARIABLES.md
  PHASE_1_COMPLETE.md
  production/css/auth.css
  production/css/catalog.css
  production/css/defs/variables.css
  production/css/globals.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Phase 2 done
  FILE_ORGANIZATION_EVALUATION.md
  FILE_ORGANIZATION_REFERENCE.md
  PHASE_2_COMPLETE.md
  SKILLJAR_SELECTORS.md
  production/css/learning-path-info.css
  production/css/lessons.css
  production/style.css
Due: css-build, css-syntax-check

Phase 3
  PHASE_3_COMPLETE.md
  RESPONSIVE_ANALYSIS.md
  production/css/catalog.css
  production/css/course-info.css
  production/css/defs/variables.css
Due: css-build, css-syntax-check

Fix some strange background colors missing
  production/css/catalog.css
  production/css/courses-learning-paths.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Dropping social media wrapper from all pages
  production/css/courses-learning-paths.css
Due: css-build, css-syntax-check

Adding back CSS support for breadcrumbs
  production/css/breadcrumbs.css
Due: css-build, css-syntax-check

Adding back support for in learning paths
  production/css/catalog.css
Due: css-build, css-syntax-check

Add in
  test/bundle.min.css
Due: css-syntax-check

Updating minimum CSS bundle
  test/bundle.min.css
Due: css-syntax-check

Changing hard-coded font-size
  production/css/catalog.css
Due: css-build, css-syntax-check

Adding in and completing phase 4 (minimizing CSS)
  .gitignore
  BUILD_IMPLEMENTATION_COMPLETE.md
  BUILD_PROCESS_EVALUATION.md
  CATALOG_CONTENT_INVESTIGATION.md
  CRITICAL_CSS_EVALUATION.md
  FOCUS_STATES_AUDIT.md
  FOCUS_STATES_IMPLEMENTATION.md
  PHASE_4_COMPLETE.md
  SPECIFICITY_ANALYSIS.md
  UNUSED_CSS_EVALUATION.md
  package-lock.json
  package.json
  postcss.config.js
Due: js-syntax-check

Add focus states
  production/css/auth.css
  production/css/breadcrumbs.css
  production/css/course-info.css
Due: css-build, css-syntax-check

Audit + fix: Color-contrast
  COLOR_CONTRAST_AUDIT.md
  COLOR_CONTRAST_IMPLEMENTATION.md
  production/css/defs/colors.css
Due: css-build, css-syntax-check

Audit + implementation: Motion preferences
  MOTION_PREFERENCES_AUDIT.md
  MOTION_PREFERENCES_IMPLEMENTATION.md
  production/css/auth.css
  production/css/catalog.css
  production/css/defs/colors.css
  production/css/lessons.css
Due: css-build, css-syntax-check

Phase 1 completion: moving nesting
  NESTING_REFACTOR_IMPLEMENTATION.md
  NESTING_REFACTOR_PHASE1_COMPLETE.md
  NESTING_REFACTOR_PLAN.md
  production/css/catalog.css
  production/css/freezebox.css
  production/css/lessons.css
Due: css-build, css-syntax-check

fix: add OSS leadership to footer
  production/build-footer.js
Due: js-syntax-check

Change font color + icon color on badges
  .pre-commit-config.yaml
  production/css/catalog.css
Due: css-build, css-syntax-check

Adding a `npm run build:css:test` command
  .pre-commit-config.yaml
  package.json
  test/bundle.min.css
Due: css-syntax-check

Dropping #cg-bg and adding in new header
  production/css/catalog.css
  production/skilljar-theme-v3.0/views/catalog.mjs
  test/bundle.min.css
Due: css-build, css-syntax-check

Path conditions:
  css-build: any of: ^production/css/.*\.css$
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
