Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check, js-minify

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint production/style.css production/adjustments.css production/adjustments-v2.1.css
  language: system

js-syntax-check:
  name: JavaScript syntax check
  entry: node --check production/build-footer.js production/skilljar-theme-v2.1.js
  language: system

js-minify:
  name: JavaScript minify (with sourcemap)
  entry: 'npx terser production/skilljar-theme-v2.1.js -c -m -o production/skilljar-theme-v2.1.min.js --source-map "filename=''skilljar-theme-v2.1.min.js'',url=''skilljar-theme-v2.1.min.js.map''"
  
    '
  language: system
  pass_filenames: false

Move `isOnlyPartner` to getter
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Change `course` logic to getter
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Adding more detail to error message
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Remaking headingParagraph + floaterText as virtual elements
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Fixing logic for description
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Fix code
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Conditional eyebrow
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Adding in new `getCurriculumElements` code
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Further dev on `getCurriculumElements` code
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Forgot about a `return` statement
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Editing code
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Shifting over to `h3` in curriculum view
  production/css/course-info.css
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: css-syntax-check, js-syntax-check, js-minify

Attempt to fix styling
  production/css/course-info.css
Due: css-syntax-check

Fix a display
  production/css/course-info.css
Due: css-syntax-check

Making circles green
  production/css/course-info.css
Due: css-syntax-check

Adjusting header on no lesson
  production/css/course-info.css
Due: css-syntax-check

Set bg-color none
  production/css/course-info.css
Due: css-syntax-check

Pad less between sections
  production/css/course-info.css
Due: css-syntax-check

Font-sizes
  production/css/course-info.css
Due: css-syntax-check

Unset background on hover
  production/css/course-info.css
Due: css-syntax-check

`ariacurrent` needs to be `aria-current`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Adding in more `aria...`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Moving styles
  production/css/__adjustments.css
  production/css/course-info.css
Due: css-syntax-check

Fix starting `let` clause
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Testing out a new way of getting the `CG.dom.header.href`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Simplifying `get href()`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Adding more logic to `get href()`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Fix `get href()` for all existing buttons
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Replace # href with actual link
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Following CSS naming conventions instead of JavaScript
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

General clean up of getter functions (unused) + naming conventions
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Fixing selector
  production/css/course-info.css
Due: css-syntax-check

Fix general "Lessons" header
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Hiding the `hr` element
  production/css/course-info.css
Due: css-syntax-check

Ensure we have `returns` keyword for all JSDocs https://jsdoc.app/tags-returns
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Clarifying docstrings§
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Renaming `style*` functions to `*View` functions to clarify their role
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Clarifying some code
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Path conditions:
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
  js-minify: any of: ^production/skilljar-theme-v2\.1\.js$
