Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check, js-minify

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint production/style.css production/css/*.css
  language: system

js-syntax-check:
  name: JavaScript syntax check
  entry: node --check production/build-footer.js production/skilljar-theme-v3.0.js
  language: system

js-minify:
  name: JavaScript minify (with sourcemap)
  entry: 'npx terser production/skilljar-theme-v3.0.js -c -m -o production/skilljar-theme-v3.0.min.js --source-map "filename=''skilljar-theme-v3.0.min.js'',url=''skilljar-theme-v3.0.min.js.map''"
  
    '
  language: system
  pass_filenames: false

Exposing `pathSections`
  production/theme.mjs
Due: none

Removing unused files in the theme folder
  production/skilljar-theme-v3.0/config.js
  production/skilljar-theme-v3.0/test.mjs
  production/skilljar-theme-v3.0/utils.js
  production/skilljar-theme-v3.0/views.js
Due: js-syntax-check

Drop `generateFooter` from this `DOMContentLoaded`
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Attempting to redo breadcrumb logic
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/CG.mjs
Due: js-syntax-check, js-minify

We need to empty the breadcrumbs before getting them, every time
  production/skilljar-theme-v3.0/CG.mjs
Due: none

Cleaning up breadcrumb code
  production/skilljar-theme-v3.0/CG.mjs
Due: none

Cleaning up some code
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js.map
  production/theme.mjs
Due: js-syntax-check, js-minify

Moving some things over to modular script
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/CG.mjs
  production/theme.mjs
Due: js-syntax-check, js-minify

Fix missing var
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Testing out a new `view`
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/views/404.mjs
  production/theme.mjs
Due: js-syntax-check, js-minify

Creating `route` functionality that helps with all the views
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/icons.mjs
  production/skilljar-theme-v3.0/meta.mjs
  production/skilljar-theme-v3.0/router.mjs
  production/skilljar-theme-v3.0/sections.mjs
  production/skilljar-theme-v3.0/views/auth.mjs
  production/skilljar-theme-v3.0/views/catalog.mjs
  production/skilljar-theme-v3.0/views/course.mjs
  production/skilljar-theme-v3.0/views/lesson.mjs
  production/skilljar-theme-v3.0/views/path.mjs
  production/theme.mjs
Due: js-syntax-check, js-minify

Remove unnecessary `logger`
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Removing all code from our `skilljar-theme-v3.0.js` file which is now defunct
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/debug.mjs
  production/theme.mjs
Due: js-syntax-check, js-minify

Fix reference to `icons.mjs` + removing further unused files to avoid confusion
  production/build-footer.js
  production/skilljar-theme-v3.0/path-sections.js
  production/skilljar-theme-v3.0/sections.mjs
  production/skilljar-theme-v3.0/theme.js
  production/skilljar-theme-v3.0/views/catalog.mjs
Due: js-syntax-check

Incorrect paths in `sections.mjs`
  production/skilljar-theme-v3.0/sections.mjs
Due: none

I believe I don't have to expose these objects like this
  production/theme.mjs
Due: none

Need to update the argument passwed to `generateFooter`
  production/theme.mjs
Due: none

Trying out hiding body on load.
  production/theme.mjs
Due: none

I don't think works
  production/theme.mjs
Due: none

Adding major upgrade + functionality for `hide`
  production/preload.js
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/styling.mjs
  production/theme.mjs
Due: js-syntax-check, js-minify

Changing the logic of the script
  .pre-commit-config.yaml
  production/preload.js
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Test exposing `confetti`
  production/theme.mjs
Due: none

Moving `confetti` logic
  production/skilljar-theme-v3.0/course-completion.mjs
  production/theme.mjs
Due: none

Test different responsive padding on `.top-row-grey`
  production/css/courses-learning-paths.css
Due: css-syntax-check

Adding padding also on details text
  production/css/courses-learning-paths.css
Due: css-syntax-check

Cleaning up unused files
  skilljar-theme-v2.js
  staging/README.md
  staging/adjustments.css
  staging/colors.css
  staging/fonts/BwFusiona-56Medium.woff
  staging/fonts/BwFusiona-56Medium.woff2
  staging/footer-revised.html
  staging/footer.html
  staging/landing-2.0.js
  staging/skilljar-theme-v2.js
  staging/style.css
  style.css
Due: css-syntax-check, js-syntax-check

Set correct version
  production/theme.mjs
Due: none

Add compilation of CSS styles to `style.css`
  .pre-commit-config.yaml
  CLAUDE.md
  build-css.mjs
  production/css/globals.css
  production/style.css
Due: css-syntax-check

Add correct version number
  production/theme.mjs
Due: none

Drop `shiki` integration from main script - keep to lessons
  production/theme.mjs
Due: none

New breakpoint for top display
  production/css/courses-learning-paths.css
Due: css-syntax-check

Fix internal logic
  production/skilljar-theme-v3.0/CG.mjs
Due: none

Failsafe the `get href` method
  production/skilljar-theme-v3.0/CG.mjs
Due: none

Change `processCodeBlock` to use better syntax + debug output
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Missed order
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Adding in more debug code
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Adding `Shiki`
  production/skilljar-theme-v3.0/static.mjs
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Try replacing only `<code>` part
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Removing background on code example blocks
  production/css/lessons.css
Due: css-syntax-check

Trim new lines from `newCode`
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Path conditions:
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
  js-minify: any of: ^production/skilljar-theme-v3\.0\.js$
