Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check, js-minify

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint production/style.css production/adjustments.css production/adjustments-v2.1.css
  language: system

js-syntax-check:
  name: JavaScript syntax check
  entry: node --check production/build-footer.js production/skilljar-theme-v2.1.js
  language: system

js-minify:
  name: JavaScript minify (with sourcemap)
  entry: 'npx terser production/skilljar-theme-v2.1.js -c -m -o production/skilljar-theme-v2.1.min.js --source-map "filename=''skilljar-theme-v2.1.min.js'',url=''skilljar-theme-v2.1.min.js.map''"
  
    '
  language: system
  pass_filenames: false

Move catalog styling
  production/css/catalog.css
Due: css-syntax-check

Dropping unused code
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Adding docstrings
  production/build-footer.js
Due: js-syntax-check

Renaming `.course-details-card`
  production/css/course-info.css
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: css-syntax-check, js-syntax-check, js-minify

Formatting
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Change styling for button
  production/css/course-info.css
Due: css-syntax-check

Change margin on details header
  production/css/course-info.css
Due: css-syntax-check

Remove legacy files + CSS into freezebox
  production/adjustments-v2.1.css
  production/adjustments.css
  production/brand-v2.0.css
  production/brand-v2.0.js
  production/css/_freezebox.css
  production/css/globals.css
  production/footer.html
  production/skilljar-theme-v2.js
  production/style.css
Due: css-syntax-check, js-syntax-check

More legacy
  production/css/_freezebox.css
  production/style.css
Due: css-syntax-check

Move breadcrumb styling
  production/css/breadcrumbs.css
  production/style.css
Due: css-syntax-check

Forgot to connect the CSS sheet
  production/style.css
Due: css-syntax-check

Fix color + vars in breadcrumbs
  production/css/breadcrumbs.css
Due: css-syntax-check

Correct naming
  production/css/breadcrumbs.css
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: css-syntax-check, js-syntax-check, js-minify

Clarifying code a bit
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Redoing adjustments + styling in backend & here
  production/adjustments.css
  production/style.css
Due: css-syntax-check

Adding in fonts here as well
  production/css/_fonts.css
  production/style.css
Due: css-syntax-check

Remove `badging.js`
  production/badging.js
Due: js-syntax-check

Fix breadcrumbs
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Forgot to move adjustments
  production/css/__adjustments.css
  production/style.css
Due: css-syntax-check

Moving things into correct places
  production/css/__adjustments.css
  production/css/_freezebox.css
  production/css/catalog.css
  production/css/globals.css
  production/style.css
Due: css-syntax-check

Replace `document.querySelector` with `Q` and `document.querySelectorAll` with `A`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Remains of course-details-card
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Fix `Q` call before init
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Simplifying `c` function
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Add docstrings
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Add `root` ability to `Q` and `A`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Enabling `Q.root` and `A.root`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Does this help?
  production/css/catalog.css
Due: css-syntax-check

Link `catalog.css`
  production/style.css
Due: css-syntax-check

Test adding `CG.state.isRegistered` and `CG.state.isCompleted`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Wrong lookup
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Simplifying cards
  production/css/catalog.css
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: css-syntax-check, js-syntax-check, js-minify

introducing `hasPill`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Clarifying `makeSections`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Make `a` a `no-select` class
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Changing margin on user button
  production/css/header.css
Due: css-syntax-check

Adding debug message
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Move `isInternal` logic to getter
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Change `isAdmin` and `isPartner` logic to getters
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Path conditions:
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
  js-minify: any of: ^production/skilljar-theme-v2\.1\.js$
