Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint
  language: system
  pass_filenames: true

js-syntax-check:
  name: JavaScript syntax check
  entry: bash -c 'for f in "$@"; do node --check "$f"; done' --
  language: system
  pass_filenames: true

Fixing column spacing in course info
  production/css/course-info.css
  test/bundle.min.css
Due: css-syntax-check

Lighter bg
  production/css/course-info.css
Due: css-syntax-check

Fix last missing styles
  test/bundle.min.css
Due: css-syntax-check

Drop claude plans
  .claude-plans/2026-01/APPROACH_NOTES.md
  .claude-plans/2026-01/BUILD_IMPLEMENTATION_COMPLETE.md
  .claude-plans/2026-01/BUILD_PROCESS_EVALUATION.md
  .claude-plans/2026-01/BUTTON_AUDIT.md
  .claude-plans/2026-01/BUTTON_PRIORITY_1_COMPLETE.md
  .claude-plans/2026-01/BUTTON_PRIORITY_2_3_COMPLETE.md
  .claude-plans/2026-01/BUTTON_PRIORITY_6_7_COMPLETE.md
  .claude-plans/2026-01/CATALOG_CONTENT_INVESTIGATION.md
  .claude-plans/2026-01/COLOR_CONTRAST_AUDIT.md
  .claude-plans/2026-01/COLOR_CONTRAST_IMPLEMENTATION.md
  .claude-plans/2026-01/CONSOLIDATION_COMPLETE.md
  .claude-plans/2026-01/CONSOLIDATION_PHASE_1_COMPLETE.md
  .claude-plans/2026-01/CRITICAL_CSS_EVALUATION.md
  .claude-plans/2026-01/CSS_IMPROVEMENT_PLAN.md
  .claude-plans/2026-01/CSS_VARIABLES.md
  .claude-plans/2026-01/FILE_ORGANIZATION_EVALUATION.md
  .claude-plans/2026-01/FILE_ORGANIZATION_REFERENCE.md
  .claude-plans/2026-01/FOCUS_STATES_AUDIT.md
  .claude-plans/2026-01/FOCUS_STATES_IMPLEMENTATION.md
  .claude-plans/2026-01/LINTING.md
  .claude-plans/2026-01/MOTION_PREFERENCES_AUDIT.md
  .claude-plans/2026-01/MOTION_PREFERENCES_IMPLEMENTATION.md
  .claude-plans/2026-01/NESTING_REFACTOR_IMPLEMENTATION.md
  .claude-plans/2026-01/NESTING_REFACTOR_PHASE1_COMPLETE.md
  .claude-plans/2026-01/NESTING_REFACTOR_PLAN.md
  .claude-plans/2026-01/PHASE_1_COMPLETE.md
  .claude-plans/2026-01/PHASE_2_COMPLETE.md
  .claude-plans/2026-01/PHASE_3_COMPLETE.md
  .claude-plans/2026-01/PHASE_4_COMPLETE.md
  .claude-plans/2026-01/RESPONSIVE_ANALYSIS.md
  .claude-plans/2026-01/REVISION_SUMMARY.md
  .claude-plans/2026-01/SKILLJAR_OVERRIDES.md
  .claude-plans/2026-01/SKILLJAR_SELECTORS.md
  .claude-plans/2026-01/SPECIFICITY_ANALYSIS.md
  .claude-plans/2026-01/UNUSED_CSS_EVALUATION.md
  .claude-plans/2026-03/IMPROVEMENTS.md
Due: none

Consistency across spacing
  production/css/auth.css
  production/css/breadcrumbs.css
  production/css/catalog.css
  production/css/completion.css
  production/css/course-info.css
  production/css/courses-learning-paths.css
  production/css/defs/variables.css
  production/css/footer.css
  production/css/freezebox.css
  production/css/globals.css
  production/css/header.css
  production/css/lessons.css
  test/bundle.min.css
Due: css-syntax-check

Moving messages + some debug
  production/data/landing-cta.mjs
  production/data/landing-header.mjs
  production/data/messages.mjs
  production/skilljar-theme-v3.0/course-completion.mjs
  production/skilljar-theme-v3.0/router.mjs
  production/skilljar-theme-v3.0/sections.mjs
  production/skilljar-theme-v3.0/utils.mjs
  production/skilljar-theme-v3.0/views/catalog.mjs
  production/theme.mjs
Due: none

Simplifying the views import/export
  production/skilljar-theme-v3.0/router.mjs
  production/skilljar-theme-v3.0/views/index.mjs
Due: none

Expose `CG` on staging
  production/theme.mjs
Due: none

Adding in more docstrings
  production/data/messages.mjs
  production/skilljar-theme-v3.0/CG.mjs
  production/skilljar-theme-v3.0/course-completion.mjs
  production/skilljar-theme-v3.0/router.mjs
  production/skilljar-theme-v3.0/utils.mjs
  production/skilljar-theme-v3.0/views/catalog.mjs
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Adding in completed pill + trigger for `animateCompletion`
  production/css/course-info.css
  production/skilljar-theme-v3.0/views/course.mjs
  test/bundle.min.css
Due: css-syntax-check

Moving `partnerErrorMessage` to 404
  production/skilljar-theme-v3.0/CG.mjs
  production/skilljar-theme-v3.0/views/404.mjs
Due: none

Adding logic for learning path completion animation
  production/data/messages.mjs
  production/skilljar-theme-v3.0/CG.mjs
  production/skilljar-theme-v3.0/course-completion.mjs
Due: none

Adding in pill on path
  production/skilljar-theme-v3.0/views/path.mjs
Due: none

Fix broken path
  production/skilljar-theme-v3.0/views/404.mjs
Due: none

Making section headers sticky
  production/css/catalog.css
  test/bundle.min.css
Due: css-syntax-check

Drop `internal` directory
  .gitignore
Due: none

Changing some spacing
  production/css/catalog.css
  production/css/defs/colors.css
  test/bundle.min.css
Due: css-syntax-check

Aligning + cleaning more variables
  production/css/catalog.css
  production/css/defs/variables.css
  production/css/lessons.css
  test/bundle.min.css
Due: css-syntax-check

Move debug from theme base
  production/skilljar-theme-v3.0/debug.mjs
  production/theme.mjs
Due: none

Correct version + add README info
  README.md
  production/preload.js
Due: js-syntax-check

Updating `A` to return Array
  production/skilljar-theme-v3.0/utils.mjs
Due: none

Removing `Array.from(...A("<selector>"))` patterns
  production/skilljar-theme-v3.0/CG.mjs
  production/skilljar-theme-v3.0/debug.mjs
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Try fixing lesson view
  production/css/lessons.css
  test/bundle.min.css
Due: css-syntax-check

Add fix for nav bar
  production/css/lessons.css
  production/skilljar-theme-v3.0/views/lesson.mjs
  test/bundle.min.css
Due: css-syntax-check

Trying to fix menu
  production/css/lessons.css
Due: css-syntax-check

Update CSS
  test/bundle.min.css
Due: css-syntax-check

Fix menu
  production/css/lessons.css
  test/bundle.min.css
Due: css-syntax-check

Trying to fix nav in lesson view
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Adding in `buildToc` + `buildEndBanner` to lesson views
  production/css/lessons.css
  production/skilljar-theme-v3.0/views/lesson.mjs
  test/bundle.min.css
Due: css-syntax-check

Adding in `slugifyHeadings`
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Adding in `buildHeaderCourseLink`
  production/css/lessons.css
  production/skilljar-theme-v3.0/views/lesson.mjs
  test/bundle.min.css
Due: css-syntax-check

Better scroll
  production/css/lessons.css
  production/skilljar-theme-v3.0/views/lesson.mjs
  test/bundle.min.css
Due: css-syntax-check

Moving course title to middle
  production/css/lessons.css
  production/skilljar-theme-v3.0/views/lesson.mjs
  test/bundle.min.css
Due: css-syntax-check

Increase `OFFSET`
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Adjusting `OFFSET`
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Fix reliance on `A`
  production/skilljar-theme-v3.0/views/lesson.mjs
Due: none

Adjusting course name
  production/css/lessons.css
  test/bundle.min.css
Due: css-syntax-check

Trying to fix menu
  production/css/lessons.css
  production/skilljar-theme-v3.0/views/lesson.mjs
  test/bundle.min.css
Due: css-syntax-check

chore: bump step-security/harden-runner to v2.19.0
  .github/workflows/actionlint.yaml
  .github/workflows/static.yml
  .github/workflows/sync-prod-gcs.yaml
  .github/workflows/zizmor.yaml
Due: none

Implementing new lesson view
  production/css/lessons.css
  production/skilljar-theme-v3.0/views/lesson.mjs
  test/bundle.min.css
Due: css-syntax-check

Path conditions:
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
