Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check, js-minify

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: css-syntax-check
        name: CSS syntax check
        entry: npx stylelint production/style.css production/css/*.css
        language: system
        files: \.css$

      - id: js-syntax-check
        name: JavaScript syntax check
        entry: node --check production/build-footer.js production/skilljar-theme-v3.0.js
        language: system
        files: \.js$

      - id: js-minify
        name: JavaScript minify (with sourcemap)
        entry: >
          npx terser production/skilljar-theme-v3.0.js
          -c -m
          -o production/skilljar-theme-v3.0.min.js
          --source-map "filename='skilljar-theme-v3.0.min.js',url='skilljar-theme-v3.0.min.js.map'"
        language: system
        files: ^production/skilljar-theme-v3\.0\.js$
        pass_filenames: false

      - id: stage-minified
        name: Stage minified JS + sourcemap
        entry: sh -c "git add production/skilljar-theme-v3.0.min.js production/skilljar-theme-v3.0.min.js.map"
        language: system
        pass_filenames: false

Aligning `createCourseDetailsCard`
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Removing styling for `.sj-curriculum-wrapper`
  production/css/courses-learning-paths.css
Due: css-syntax-check

Fail-safe `get links()`
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Adjusting scoped name for rest of function
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Missed one
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Extracting curriculum creation logic to a separate function
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

We must keep `sections` in scope
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Making sure `extractCurriculum` runs on all course pages
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Making `CG.data.curriculumItems` a getter function instead
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Correcting docstring
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Making `CG.data.curriculumElements` a getter as well
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Test to see if this works
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Test one getter instead (for debug purposes)
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Breaking up script
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Is it really in the wrong scope?
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Remove no-unused-vars warnings
  production/build-footer.js
Due: js-syntax-check

Exposing the curriculum-wrapper in all course pages
  production/css/course-info.css
Due: css-syntax-check

Fix spacing on `body.sj-page-curriculum`
  production/css/courses-learning-paths.css
Due: css-syntax-check

Clarifying type of curriculum containers
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Removing Painless Vulnerability Management course --> path
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Setting up a first test with modular JS
  production/skilljar-theme-v3.0/test.mjs
  production/theme.mjs
Due: none

Fix `test.mjs`
  production/skilljar-theme-v3.0/test.mjs
Due: none

Adding CG.data.UTM for fallback for future `getCorrectURL` function
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Test exposing `Q`, `A`, `c`, `getCorrectURL`, `el` from modules
  production/build-footer.js
  production/skilljar-theme-v3.0/meta.mjs
  production/theme.mjs
Due: js-syntax-check

Can I expose the functions like this?
  production/theme.mjs
Due: none

Add `static.mjs`
  production/skilljar-theme-v3.0/static.mjs
Due: none

Move `generateFooter`
  production/build-footer.js
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check, js-minify

Attempting to fix footer logic
  production/build-footer.js
  production/skilljar-theme-v3.0/footer.mjs
  production/theme.mjs
Due: js-syntax-check

Drop existing `build-footer.js`
  production/build-footer.js
Due: js-syntax-check

Adding in more modules
  production/skilljar-theme-v3.0/CG.mjs
  production/skilljar-theme-v3.0/config.mjs
  production/skilljar-theme-v3.0/course-completion.mjs
  production/skilljar-theme-v3.0/logger.mjs
  production/skilljar-theme-v3.0/meta.mjs
  production/skilljar-theme-v3.0/static.mjs
  production/skilljar-theme-v3.0/styling.mjs
  production/theme.mjs
Due: none

Adding in a `DOMContentLoaded` listener
  production/theme.mjs
Due: none

Change path to `CONFIG` object
  production/skilljar-theme-v3.0/CG.mjs
  production/skilljar-theme-v3.0/course-completion.mjs
Due: none

Forgot to export `text` function
  production/skilljar-theme-v3.0/meta.mjs
Due: none

Modularizing `remove` function
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/meta.mjs
  production/theme.mjs
Due: js-syntax-check, js-minify

Updating pathSections + logic for internal
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/static.mjs
Due: js-syntax-check, js-minify

Exposing `logger` function
  production/theme.mjs
Due: none

Add docstring to `logger`
  production/skilljar-theme-v3.0/logger.mjs
Due: none

Exposing `CONFIG` object
  production/theme.mjs
Due: none

Exposing `hide` and `showBody`
  production/theme.mjs
Due: none

Fix `hide` and `showBody` exports
  production/skilljar-theme-v3.0/styling.mjs
Due: none
