Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check, js-minify

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint production/style.css production/adjustments.css production/adjustments-v2.1.css
  language: system

js-syntax-check:
  name: JavaScript syntax check
  entry: node --check production/build-footer.js production/skilljar-theme-v2.1.js
  language: system

js-minify:
  name: JavaScript minify (with sourcemap)
  entry: 'npx terser production/skilljar-theme-v2.1.js -c -m -o production/skilljar-theme-v2.1.min.js --source-map "filename=''skilljar-theme-v2.1.min.js'',url=''skilljar-theme-v2.1.min.js.map''"
  
    '
  language: system
  pass_filenames: false

Set form width to 100%
  production/css/auth.css
Due: css-syntax-check

Add padding on signup rows
  production/css/auth.css
Due: css-syntax-check

Set aria-labels for all input rows for signup page
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Simplifying `CG.dom.auth`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Simplifying logic further
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Adding placeholder `CG.dom.auth.rows`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Redo logic
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Add `CG.dom.auth.inputs.accessCode`
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Skip elements without ID
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Debugging selection
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Add messaging on login + signup (temporarily)
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Dropping debugging messaging
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Duplicate selectors
  production/css/auth.css
Due: css-syntax-check

Opacity changed through Javascript now
  production/css/auth.css
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: css-syntax-check, js-syntax-check, js-minify

Fix padding for all of signup form
  production/css/auth.css
Due: css-syntax-check

Adjusting opacity to lower
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
Due: js-syntax-check, js-minify

Should be set only for signup
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Reordering CSS
  production/adjustments-v2.1.css
  production/adjustments.css
  production/css/globals.css
  production/css/header.css
  production/css/lessons.css
  production/style.css
Due: css-syntax-check

Fix "disabled" color for "sign up" button on login screen
  production/css/auth.css
Due: css-syntax-check

Streamlining more of the signup form
  production/css/auth.css
Due: css-syntax-check

Drop column padding on login and add it universally on auth card instead
  production/css/auth.css
Due: css-syntax-check

Set active font color to not indicate link
  production/css/auth.css
Due: css-syntax-check

Fix login link
  production/css/header.css
  production/style.css
Due: css-syntax-check

Add `.sj-page-catalog`
  production/adjustments-v2.1.css
Due: css-syntax-check

Adjusting margin on logged in user look
  production/css/header.css
Due: css-syntax-check

Only show partner error message + redirect when user is not logged in
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Set correct size for tagline
  production/style.css
Due: css-syntax-check

Move and correct footer CSS
  production/css/footer.css
  production/style.css
Due: css-syntax-check

Keep correct color on the footer tagline
  production/css/footer.css
Due: css-syntax-check

Adding margin-bottom on tagline P
  production/css/footer.css
Due: css-syntax-check

Needs an `!important` instruction
  production/css/footer.css
Due: css-syntax-check

Re-enable toggle on lessons
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Clean up of lesson CSS
  production/css/footer.css
  production/css/lessons.css
Due: css-syntax-check

Fix font on internal course warning
  production/css/lessons.css
Due: css-syntax-check

Hide `#lp-footer`
  production/css/lessons.css
Due: css-syntax-check

Fix lesson
  production/css/lessons.css
Due: css-syntax-check

Is this the way to get the nav back?
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

We have to move the cloning
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Try moving it instead
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Path conditions:
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
  js-minify: any of: ^production/skilljar-theme-v2\.1\.js$
