Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check, js-minify

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint production/style.css production/adjustments.css production/adjustments-v2.1.css
  language: system

js-syntax-check:
  name: JavaScript syntax check
  entry: node --check production/build-footer.js production/skilljar-theme-v2.1.js
  language: system

js-minify:
  name: JavaScript minify (with sourcemap)
  entry: 'npx terser production/skilljar-theme-v2.1.js -c -m -o production/skilljar-theme-v2.1.min.js --source-map "filename=''skilljar-theme-v2.1.min.js'',url=''skilljar-theme-v2.1.min.js.map''"
  
    '
  language: system
  pass_filenames: false

Update `CG.page` naming
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

New major version
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Updating to v3.0 across all
  .pre-commit-config.yaml
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

Removing v2.1 artifacts
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check

Clarifying `CG.page` selectors
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

Moving `CG.page` selectors for more logic order
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

Moving styles around and clarifying relations
  production/css/__adjustments.css
  production/css/_freezebox.css
  production/css/learning-path-info.css
  production/style.css
Due: css-syntax-check

Move from "signed in" language to "logged in"
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

Drop white text styling
  production/css/learning-path-info.css
Due: css-syntax-check

Remove more white text styling
  production/css/learning-path-info.css
Due: css-syntax-check

Dropping double styles
  production/css/__adjustments.css
  production/css/learning-path-info.css
Due: css-syntax-check

Fix some spacing
  production/css/__adjustments.css
  production/css/globals.css
Due: css-syntax-check

Remove some padding
  production/css/__adjustments.css
Due: css-syntax-check

Removing more spacing
  production/css/__adjustments.css
Due: css-syntax-check

Fix some more styling on learning path page
  production/css/__adjustments.css
Due: css-syntax-check

Adjusting sizing
  production/css/__adjustments.css
Due: css-syntax-check

Moving last adjustment styles out of CSS
  production/css/__adjustments.css
  production/css/courses-learning-paths.css
  production/style.css
Due: css-syntax-check

Remove adjustments
  production/css/__adjustments.css
  production/style.css
Due: css-syntax-check

Making heading paragraph visible
  production/css/courses-learning-paths.css
Due: css-syntax-check

Move `.tabs`
  production/css/course-info.css
Due: css-syntax-check

Clean up in `course-info.css`
  production/css/course-info.css
Due: css-syntax-check

Cleaning up + splitting the theme scripts into separate scripts
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
  production/skilljar-theme-v3.0/config.js
  production/skilljar-theme-v3.0/path-sections.js
  production/skilljar-theme-v3.0/theme.js
  production/skilljar-theme-v3.0/utils.js
  production/skilljar-theme-v3.0/views.js
Due: js-syntax-check

Fix width on top row
  production/css/courses-learning-paths.css
Due: css-syntax-check

Moving around `Q`, `A`, and `c`
  production/build-footer.js
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

We can just drop them here (since they live in `build-footer.js` now
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

Consolidating `.tabs`
  production/css/course-info.css
Due: css-syntax-check

Updating course display styles
  production/css/course-info.css
Due: css-syntax-check

Move `#dp-details` and `#cp-content`
  production/css/course-info.css
  production/css/courses-learning-paths.css
Due: css-syntax-check

Positioning static
  production/css/courses-learning-paths.css
Due: css-syntax-check

Remove padding on content
  production/css/courses-learning-paths.css
Due: css-syntax-check

Removing references to `black` --> `ink` var instead
  production/css/courses-learning-paths.css
Due: css-syntax-check

Trying to fix the problem
  production/css/courses-learning-paths.css
Due: css-syntax-check

Show `.sj-course-info-wrapper`
  production/css/courses-learning-paths.css
Due: css-syntax-check

Move `#curriculum-section` to ensure availability for both course pages
  production/css/course-info.css
Due: css-syntax-check

Make sure fonts are displayed correctly
  production/css/courses-learning-paths.css
Due: css-syntax-check

Ensure Roobert on all course descriptions
  production/css/courses-learning-paths.css
Due: css-syntax-check

Always add `row dp-row-flex-v2` on breadcrumbs
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

Attach breadcrumb element in the correct place
  production/skilljar-theme-v3.0.js
  production/skilljar-theme-v3.0.min.js
  production/skilljar-theme-v3.0.min.js.map
Due: js-syntax-check

Green text on button
  production/css/course-info.css
Due: css-syntax-check

Adjust width
  production/css/courses-learning-paths.css
Due: css-syntax-check

Path conditions:
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
  js-minify: any of: ^production/skilljar-theme-v2\.1\.js$
