Repository kallewesterling/courses-theme: changes, and which pre-commit hooks are due for each by the changed paths.
All: css-syntax-check, js-syntax-check, js-minify

css-syntax-check:
  name: CSS syntax check
  entry: npx stylelint production/style.css production/adjustments.css production/adjustments-v2.1.css
  language: system

js-syntax-check:
  name: JavaScript syntax check
  entry: node --check production/build-footer.js production/skilljar-theme-v2.1.js
  language: system

js-minify:
  name: JavaScript minify (with sourcemap)
  entry: 'npx terser production/skilljar-theme-v2.1.js -c -m -o production/skilljar-theme-v2.1.min.js --source-map "filename=''skilljar-theme-v2.1.min.js'',url=''skilljar-theme-v2.1.min.js.map''"
  
    '
  language: system
  pass_filenames: false

Update to pre-commit
  .pre-commit-config.yaml
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check

Fix sizing on cards + nested media queries
  production/adjustments-v2.1.css
Due: css-syntax-check

Adjusting responsive size
  production/adjustments-v2.1.css
Due: css-syntax-check

Dropping `#mobile-header` down in z hierarchy
  production/style.css
Due: css-syntax-check

Change Google button font
  production/adjustments-v2.1.css
Due: css-syntax-check

Fix login form styling
  production/adjustments-v2.1.css
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: css-syntax-check, js-syntax-check, js-minify

Nesting `#google_login` styles
  production/adjustments-v2.1.css
Due: css-syntax-check

Setting correct padding on `#skilljar-content`
  production/style.css
Due: css-syntax-check

Fix margin on forgot-password
  production/adjustments-v2.1.css
Due: css-syntax-check

Unreachable CSS
  production/adjustments-v2.1.css
Due: css-syntax-check

Adjusting spacing on login/signup screen
  production/adjustments-v2.1.css
Due: css-syntax-check

Add conditional to catch problems
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Remove double CSS
  production/style.css
Due: css-syntax-check

Remove bottom margin on inputs
  production/adjustments-v2.1.css
Due: css-syntax-check

Move forgot password closer
  production/adjustments-v2.1.css
Due: css-syntax-check

Change breaking point for fixing of margin
  production/adjustments-v2.1.css
Due: css-syntax-check

Adding in a divider
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Add styling to Google button
  production/adjustments-v2.1.css
Due: css-syntax-check

Removing "Or login with" (and adding functionality to `remove` to take `HTMLElement`s as argument)
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Remove unnecessary adjustments + consolidating selectors
  production/adjustments-v2.1.css
Due: css-syntax-check

Nesting selectors
  production/adjustments-v2.1.css
Due: css-syntax-check

Move `font-weight` + `margin-bottom` to parent element to make sure it all aligns
  production/adjustments-v2.1.css
Due: css-syntax-check

Test new import
  production/css/globals.css
  production/style.css
Due: css-syntax-check

Move conflicting css
  production/adjustments-v2.1.css
Due: css-syntax-check

Moving CSS around
  production/css/_animations.css
  production/css/_colors.css
  production/style.css
Due: css-syntax-check

Moving auth CSS into one file
  production/adjustments-v2.1.css
  production/css/auth.css
  production/style.css
Due: css-syntax-check

Consolidating + organizing auth CSS
  production/css/auth.css
  production/style.css
Due: css-syntax-check

Consolidating `#google_login`
  production/css/auth.css
Due: css-syntax-check

Consolidating `#access-message`
  production/css/auth.css
Due: css-syntax-check

Fix `#access-message`
  production/css/auth.css
Due: css-syntax-check

Consolidating further + removing some unused CSS
  production/css/auth.css
Due: css-syntax-check

Hide all `#login-content` (all we use from there is the `script` element)
  production/css/auth.css
Due: css-syntax-check

Clarifying edits
  production/css/auth.css
Due: css-syntax-check

Make `CG.dom.auth.inputs.email` + `CG.dom.auth.inputs.password` non-specific
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Fix placeholders
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Reordering order of things
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Only add "Forgot password?" link on sign up
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Missed selector
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Adding debugging to `text` and `placeholder` functions
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: js-syntax-check, js-minify

Rearranging some auth code + moving hiding to CSS
  production/css/auth.css
  production/skilljar-theme-v2.1.js
  production/skilljar-theme-v2.1.min.js
  production/skilljar-theme-v2.1.min.js.map
Due: css-syntax-check, js-syntax-check, js-minify

Path conditions:
  css-syntax-check: any of: \.css$
  js-syntax-check: any of: \.js$
  js-minify: any of: ^production/skilljar-theme-v2\.1\.js$
